<div id="map"></div>

<h1>{{ title }}</h1>

<table>
  <thead>
    <tr>
      <th (click)="sortBy('location')">Location</th>
      <th (click)="sortBy('villain')">Villain Name</th>
      <th (click)="sortBy('time')">Time Reported</th>
      <th (click)="sortBy('status')">Status</th>      
      <th>&nbsp;</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.data.location }}</td>
      <td>{{ item.data.villain }}</td>
      <td>{{ item.data.time | date: "yyyy-MM-dd (hh:mm a)" }}</td>
      <td>{{ item.data.status }}</td>
      <td> 
        <!-- <button (click)="onView(item.data)" class="info">MORE INFO</button>&nbsp; -->
        <button (click)="onView(item)" class="info">MORE INFO</button>&nbsp;
        <button (click)="onDeleteRow(item.key)" class="delete"><strong>X</strong></button>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/report-form" class="create">CREATE NUISANCE REPORT</button>

<router-outlet></router-outlet>
